.hero-section {
    padding-top: clamp(2rem, 7vw, 18rem);
}

.main-text {
    min-width: 55%;
}

.about-me {
    max-width: 35%;
}

.main-text h1 {
    font-size: clamp(50px, 7vw, 100px);
}

.scroll-arrow {
    margin: auto;
    animation: shake 5s infinite;
}

.scroll-arrow a i {
    font-size: clamp(5rem, 7vw, 15rem);
}

@media (min-width: 600px){
    
    .hero-section {
        display: flex;
        column-gap: 5%;
        flex-wrap: wrap;
        row-gap: 3rem;
    }

    .hero-section div {
        width: 47%;
    }

}

@keyframes shake {
    0% {
        translate: 0;
    }

    5% {
        translate: 0 1em;
        }

    10% {
        translate: 0 -.5em;
    }

    15% {
        translate: 0 1em;
    }

    20% {
        translate: 0 -.5em;
    }

    25% {
        translate: 0 .5em;
    }

    30% {
        translate: 0;
    }
}