.logo-btn h1 {
    animation: split 1.5s ease-out infinite;
    text-transform: uppercase;
}

@keyframes split {
    0% {
        translate: 0;
        text-shadow:
        .1em 0 0 #0227f5,
        -.05em 0 0 #4affff,
        -.1em 0 0 #ff0825,
        -.2em 0 0 #fffb19;
    }

    5% {
        translate: -0.1em;
        text-shadow:
        -.05em 0 0 #0227f5,
        .1em 0 0 #4affff,
        .05em 0 0 #ff0825,
        -.1em 0 0 #fffb19;
        }

    10% {
        translate: 0.05em;
        text-shadow:
        .2em 0 0 #0227f5,
        .05em 0 0 #4affff,
        -.1em 0 0 #ff0825,
        -.05em 0 0 #fffb19;
    }

    15% {
        translate: -0.1em;
        text-shadow:
        -.04em 0 0 #0227f5,
        .05em 0 0 #4affff,
        -.1em 0 0 #ff0825,
        .05em 0 0 #fffb19;
    }

    80% {
        translate: 0;
        text-shadow:
        0 0 0 #0227f5,
        0 0 0 #4affff,
        0 0 0 #ff0825,
        0 0 0 #fffb19;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
    font-size: 1.2em;
}

.btn-deafult {
    font-size: 1.2em;
    border: none;
    background: transparent;
    color: var(--white);
    cursor: pointer;
}

.menu-list ul {
    list-style: none;
    display: flex;
    column-gap: 2rem;
    font-weight: 500;
}

/* MENU UNDERLINE */

.menu-list ul li a {
    position: relative;
}

.menu-list ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background: var(--white);
    top: 110%;
    left: 50%;
    transition: .3s;
}

.menu-list ul li a:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--white);
    left: 0;
}

@media (min-width: 220px){
    .menu-list {
        display: none;
    }

    .nav-btns button:nth-child(1) {
        display: none;
    }
}

@media (min-width: 800px) {
    .menu-list {
        display: flex;
    }

    .nav-btns button:nth-child(1) {
        display: block;
    }

    .nav-btns button:nth-child(2) {
        display: none;
    }
}