.skills {
    padding: 0;
    margin-top: clamp(5rem, 7vw, 10rem);
}

.title {
    position: relative;
    min-height: clamp(10rem, 15vw, 20rem);
    display: grid;
    place-items: center;
    isolation: isolate;
    font-size: clamp(2rem, 3vw, 3rem);
}

.title::after {
    content: "";
    background-image: linear-gradient(
        45deg,
        #12c2e9,
        #c471ed,
        #f64f59
    );
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-5deg);
}

.skills-level {
    margin: clamp(2rem, 10vw, 7rem) 4% 0;
    border-radius: .8rem;
    width: calc(100% - 8%);
}

.bar-info {
    margin: clamp(1rem, 5vw, 1.5rem) 4%;
}

.bar-info button {
    text-decoration: underline;
    font-size: 1rem;
}

.bar-info-open {
    position: absolute;
    inset: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .9);
    height: 100vh;
    display: grid;
    place-items: center;
    visibility: hidden;
}

.bar-info-open p {
    max-width: clamp(10rem, 70vw, 55rem);
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: .8rem;
    font-size: 1.2em;
}

@media (min-width: 1000px) {
    .skills-level {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skill-box {
        width: 48%;
    }
}