.side-drawer {
    position: fixed;
    top: 5em;
    right: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    background: var(--black);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    z-index: 5000;
    
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    
    padding: 2rem;
    overflow-y: auto;
}

.side-drawer.open-drawer {
    transform: translateX(0);
}

.drawer-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--white);
}

.describe-ys h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.primary-info h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.primary-info div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 1rem;
}

.primary-info a {
    text-decoration: none;
}