.container {
    font-size: clamp(1rem, 4.5vw, 1.2rem);
}

.container h1 {
    font-size: clamp(3rem, 5vw, 6rem);
    margin: 1rem 0;
}

.primary-info {
    min-width: calc(50% - 5vw);
}

.primary-info div {
    display: flex;
    align-items: center;
    column-gap: 1vw;
    line-height: 3rem;
}

@media (min-width: 1000px) {
    .container {
        display: flex;
        column-gap: 10vw;
    }

    .describe-ys {
    max-width: calc(50% - 5vw);
}
}