footer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    bottom: 0;
    min-height: 5rem;
    padding: 2rem 4%;
}

.socials div {
    display: grid;
    place-items: center;
    font-size: 120%;
}

.socials div a {
    background: #171717;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: var(--transition3);
    font-size: 1rem;
    font-size: 120%;
}

.gh:active a {
    background: #333;
}

.in:active a {
    background: #0077B5;
}

.contact p, .nav-links p {
    color: var(--white);
}

@media (min-width: 200px) {
    .nav-links > ul > li {
        text-align: center;
    }
}

@media (min-width: 800px) {
    footer {
        flex-direction: row;
    }

    footer div {
        width: calc(100% / 3);
        display: grid;
        place-items: center;
    }

    .nav-links, .contact {
        display: flex;
    }

    .contact {
        justify-content: end;
    }

    .nav-links > ul > li {
        text-align: start;
    }
}

@media (min-width: 1200px) {
    
    .gh:hover a {
        background: #333;
        color: #fff;
    }

    body.light-mode .gh:hover a {
        background: #333;
        color: #fff;
    }

    .in:hover a {
        background: #0077B5;
    }

    body.light-mode .in:hover a {
        background: #0077B5;
        color: #fff;
    }
}